span {
    color: orange;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 60px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100%;
}

.flexible {
    display: flex;
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.button {
    background-image: linear-gradient(orangered, orange);
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    color: white;
}

.bg {
    background-image: url(7.png);
    background-repeat: no-repeat;
}

#sec-2 {
    background-size: cover;
}

.space {
    margin-bottom: 10%;
}